* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /*background-color: #3A3939; */
}


body {
    background-color: #eae7dc;
    min-height: 100vh;

}

nav {
    height: 55px;
    width: 100%;
    background: rgba(220, 220, 220, 0.97);
    position: fixed;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}


label.main-name {
    color: white;
    font-size: 50px;
    line-height: 55px;
    padding: 0 10px;
    font-weight: bold;
}


nav ul {
    float: right;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    /* Makes menu items go in a hortizontal line*/
    line-height: 55px;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold
}


nav a.active,
nav a:hover {
    background: rgba(233, 128, 116, 0.6);
    transition: .5s;
}


.button {
    font-size: 40px;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.highlighted-character {
    color: #e98074;
}

.index-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-container .welcome {
    color: white;
    position: relative;
    text-align: center;
}

.index-container h1 {
    font-size: 200px;
    text-transform: uppercase;
    position: relative;
    color: #e85a4f;
}

.index-container p {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e98074;
}

.title-style {
    margin-top: 70px;
    font-size: 80px;
    color: #e98074;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: -1;
    position: relative;

}



.about-text {
    font-size: 25px;
    color: #8e8d8a;
    text-align: center;
    font-weight: bold;
    width: 80%;
    max-width: 700px;
    margin: 40px auto;

}

.skill_title {
    text-transform: uppercase;
    font-size: 60px;
    color: #e98074;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.grid-item {
    height: 85px;
    width: 85px;
    background-color: #e98074;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    background-color: white;
    color: #e98074;
}

.grid-item i {
    font-size: 40px;
}

.grid-item p {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
}


.input-fields {
    margin-top: -120px;
    position: sticky;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;

}


input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: solid white;
    font-size: 17px;
    border-radius: 10px;
    color: gray;

    font-weight: bold;
}


button {
    padding: 10px;
    width: 50%;
    color: #e98074;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #e98074;
    color: white;
    border: none;
    outline: none;

}


main {
    min-height: 100vh;
}

footer {
    height: 40px;
    color: #e98074;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.5);

}

footer p {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -10px;
}



.card {
    padding: 3em 2em 1em 2em;
    height: 100vh;
    background-color: rgba(234, 231, 220, 0.7O);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

}


.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text {
    max-width: 600px;
    color: white;
    position: relative;
    text-align: center;
    z-index: 2;
}

.card h1 {
    font-size: 80px;
    text-transform: uppercase;
}

.card .portfolio-title,
.card i {
    color: #e98074;
}

.card p {
    font-size: 20px;
}



.img_button {
    display: inline-block;
    background-color: white;
    padding: 10px;
    width: 25%;
    color: #e98074;
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
}

.github_button {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.resume_button {
    display: inline-block;
    padding: 10px;
    width: 25%;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
}



.resume_button,
.github_button {
    background-color: #e98074;
    color: white;
}

.resume_button:hover,
.github_button:hover {
    background-color: white;
    color: #e98074;
}

footer .github_button {
    font-size: 20px;
    text-align: center;
    height: 0px;
    width: 0px;
    color: #e98074;
}

.img_button:hover {
    background-color: #e98074;
    color: white;
    border: none;
    outline: none;
}

.text i {
    margin-top: 50px;
    font-size: 75px;
}

/* Controls nav menu when screen is smaller */
@media (max-width: 900px) {
    .button {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d8c3a5;
        top: 55px;
        left: -100%;
        z-index: 1;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;

    }


    #check:checked~ul {
        left: 0;
    }

    .welcome {
        font-size: 150px;
    }

}




/*Size for phone screens*/
@media only screen and (max-width: 600px) {

    .index-container h1 {
        font-size: 65px;
    }

    .index-container p {
        font-size: 13px;
    }

    .title-style {
        font-size: 60px;
    }

    .about-text {
        font-size: 19px;
    }

    .page-backgrounds {
        font-size: 400px;

    }

    footer {
        height: 20px;
        font-size: 10px;
    }

    .page-backgrounds {
        display: none;
    }

    .page-backgroundsalt {
        display: block;
        font-size: 500px;
    }

    .skill_title {
        font-size: 50px;
    }

    .grid-container {
        grid-gap: 10px;
        max-width: 200px;
        margin: 0 auto;
        justify-content: center;
    }

    .grid-item {
        height: 60px;
        width: 60px;
    }

    .grid-item i {
        font-size: 30px;
    }

    .grid-item p {
        margin-top: 10px;
        font-size: 11px;
        white-space: nowrap;
    }

    .resume_button {
        font-size: 12px;
    }

    .github_button {
        font-size: 40px;
        height: 47px;
        width: 47px;
    }

    footer .github_button {
        font-size: 13px;
    }

    .card h1, .card i {
        font-size: 55px;
    }


    .card p {
        font-size: 15px;
    }

}

/*Size for small devices*/
@media only screen and (min-width: 600px) {

    .index-container h1 {
        font-size: 100px;
    }

    .index-container p {
        font-size: 15px;
    }

    .title-style {
        font-size: 70px;
    }

    .about-text {
        font-size: 20px;
    }

    .page-backgrounds {
        font-size: 450px;

    }


}

/*Size for medium devices*/
@media only screen and (min-width: 768px) {

    .index-container h1 {
        font-size: 125px;
    }

    .index-container p {
        font-size: 20px;
    }

    .about-text {
        font-size: 21px;
    }

    .page-backgrounds {
        font-size: 500px;

    }

}

/*Size for large devices*/
@media only screen and (min-width: 992px) {

    .index-container h1 {
        font-size: 175px;
    }

    .index-container p {
        font-size: 25px;
    }

    .about-text {
        font-size: 23px;
    }

    .page-backgrounds {
        font-size: 550px;

    }

}

/*Size for extra large devices*/
@media only screen and (min-width: 1200px) {

    .index-container h1 {
        font-size: 200px;
    }

    .index-container p {
        font-size: 30px;
    }

    .title-style {
        font-size: 80px;
    }

    .about-text {
        font-size: 25px;
    }

    .page-backgrounds {
        font-size: 650px;

    }

}